
.hero {
  background: url('banner.png');
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center;
}



a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: larger;
  }

.a1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }

  figcaption
  {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }

  .figcaptionbold
  {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }


  .card {
    width: 30vh;
    border-radius: 15px;
    height: min-content;
    margin-inline: 4vh;
    background: hsl(0, 100%, 100%);
    box-shadow: 15px 15px 30px   #cfcdcd,
               -15px -15px 30px  rgb(243 244 246);
    transition: transform 0.2s ease-in-out; /* Added transition property */

  }
  .card:hover {
    transform: scale(1.1); /* Scale up the card on hover */
  }



.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}






.coolinput {
  display: flex;
  width: 80%;
  flex-direction: column;
  position: static;
}

.coolinput label.text {
  font-size: 1rem;
  color: rgb(0,140,255);
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #161c33;
  width: fit-content;
}




.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px rgb(0,140,255) solid;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.coolinput input[type=text].input:focus {
  outline: none;
  
}

.coolinput input[type=email].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px rgb(0,140,255) solid;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.coolinput input[type=email].input:focus {
  outline: none;
}

#hero-banner {
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-2%) translateY(-2%);
  animation: fadeInSlideInAnimation 2s forwards;
}

@keyframes fadeInSlideInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-2%) translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) translateY(0%);
  }
}





.mobile-nav{
  display: none;
}






@media (max-width: 1200px) {
  .intro-text-para
  {
    text-align: center; font-size:18px; font-weight: 500; color: #0c1b50; padding-inline: 12vh; margin-bottom: 5vh;
  }

  .navmenu
  {
   display: none;
  }
  
  .hamburger{
    display: block;
    width: 35px;
    cursor:pointer;
    appearance: none;
    background: none;
    border: none;
  }

  .hamburger .bar, .hamburger::after, .hamburger::before{
    content:'';
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 5px;
    background-color: #706d6d;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active::before
  {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .hamburger.is-active::after
  {
    transform: rotate(45deg) translate(-9px, -7px);
  }

  .hamburger.is-active .bar
  {
    opacity: 0;
  }

  .mobile-nav
  {
    position: fixed;
    top:-100%;
    left:0;
    opacity: 0;
    display: block;
    width: 100%;
    min-height: 100vh;
    z-index: 998;
    padding-top: 150px;
    color: white;
    background-color: #104579b8;
    transition: 0.9s;
    transition-timing-function: cubic-bezier(.04,.76,.46,1.12);
  }

  .mobile-nav.is-active1{
    top:0;
    opacity:1;
  }

  .card
  {
    margin-inline: 20px;
    width: 40vh;
  }

}